@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  color: rgb(66, 61, 61);
  font-family: "Red Hat Text", sans-serif;
}

.main-main {
  margin-top: 85px;
}

.main-index {
  margin-top: 0;
}

.texto-izq, .texto-der {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

header {
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav-style {
  background-color: rgba(128, 132, 118, 0.5764705882);
}

.link {
  font-size: 20px;
  color: #f6f6f6;
  margin: 0 50px 0 50px;
}

.foto-logo {
  height: 65px;
  width: 110px;
  margin-left: 110px;
}

.texto-izq, .texto-der {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

.video-vinedo {
  height: 100%;
  width: 100%;
}
@media (max-width: 576px) {
  .video-vinedo {
    display: none;
  }
}

.imagen-mobile {
  display: none;
}
@media (max-width: 576px) {
  .imagen-mobile {
    display: block;
    width: 100%;
  }
}

.foto-frase {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(https://i.ibb.co/mGYjxbc/montanas2.webp);
  background-repeat: initial;
}

.frase-bodega {
  color: rgb(66, 61, 61);
  font-size: 2rem;
  text-align: center;
  width: 50%;
  margin-bottom: 200px;
}
@media (max-width: 768px) {
  .frase-bodega {
    font-size: 1.1rem;
    padding-bottom: 90px;
  }
}

.texto-izq, .texto-der {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

.nuestros-vinos {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 120px;
  align-items: center;
  color: rgb(66, 61, 61);
  border: 2px solid black;
}

.grid-conteiner {
  display: grid;
  grid-template-columns: 0.8fr 0.5fr 0.8fr;
  grid-template-rows: repeat(6, 6fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.pergamino-grid {
  grid-area: 1/1/2/2;
}

.perga-text-grid {
  grid-area: 1/2/2/4;
}

.malbec-text-grid {
  grid-area: 2/1/3/3;
  border: 1px solid #808476;
}

.malbec-grid {
  grid-area: 2/3/3/4;
  border: 1px solid #808476;
}

.cabernet-grid {
  grid-area: 3/1/4/2;
}

.cab-text-grid {
  grid-area: 3/2/4/4;
}

.blend-text-grid {
  grid-area: 4/1/5/3;
  border: 1px solid #808476;
}

.blend-grid {
  grid-area: 4/3/5/4;
  border: 1px solid #808476;
}

.astral-grid {
  grid-area: 5/1/6/2;
}

.astral-text-grid {
  grid-area: 5/2/6/4;
}

.ser-text-grid {
  grid-area: 6/1/7/3;
  border: 1px solid #808476;
}

.ser-grid {
  grid-area: 6/3/7/4;
  border: 1px solid #808476;
}

.titulo-vino {
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding-top: 10px;
}
@media (max-width: 576px) {
  .titulo-vino {
    font-size: 1.5rem;
    padding-top: 0px;
  }
}
@media (max-width: 768px) {
  .titulo-vino {
    font-size: 2rem;
  }
}

.detalle-descripcion {
  display: flex;
  justify-content: center;
}

.texto-des {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 44px;
  font-size: 30px;
}
@media (max-width: 576px) {
  .texto-des {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .texto-des {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.texto {
  font-size: 20px;
}
@media (max-width: 576px) {
  .texto {
    font-size: 1rem;
    text-align: start;
  }
}

.vino-izq {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  background-image: url(https://i.ibb.co/xLmdFnK/lineasnegras3.webp);
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .vino-izq {
    width: 100%;
    height: 500px;
  }
}

.vino-derecha {
  background-color: #808476;
  display: flex;
  justify-content: center;
  background-image: url(https://i.ibb.co/7GLyXgn/lineasnegras1.webp);
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .vino-derecha {
    width: 100%;
    height: 500px;
    margin-top: 0;
  }
}

.texto-der {
  background-color: #f6f6f6;
}

.texto-izq {
  background-color: #808476;
}

.encabezado-premios {
  display: flex;
  justify-content: center;
  font-size: 40px;
  background-color: white;
}

.carta-premios {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.premios-productos {
  background-image: url(https://i.ibb.co/WzVmwmz/hojas-verdes.webp);
}

@media screen and (max-width: 768px) {
  .grid-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr 1fr 0.6fr 1fr 0.6fr 1fr 0.6fr 1fr 0.6fr 1fr 0.6fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .pergamino-grid {
    grid-area: 1/1/2/2;
  }
  .perga-text-grid {
    grid-area: 2/1/3/2;
  }
  .malbec-grid {
    grid-area: 3/1/4/2;
  }
  .malbec-text-grid {
    grid-area: 4/1/5/2;
  }
  .cabernet-grid {
    grid-area: 5/1/6/2;
  }
  .cab-text-grid {
    grid-area: 6/1/7/2;
  }
  .blend-grid {
    grid-area: 7/1/8/2;
  }
  .blend-text-grid {
    grid-area: 8/1/9/2;
  }
  .astral-grid {
    grid-area: 9/1/10/2;
  }
  .astral-text-grid {
    grid-area: 10/1/11/2;
  }
  .ser-grid {
    grid-area: 11/1/12/2;
  }
  .ser-text-grid {
    grid-area: 12/1/13/2;
  }
}
.texto-der, .texto-izq {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

.titulo-historia {
  color: rgb(66, 61, 61);
  text-decoration-line: underline;
  font-size: 50px;
  margin-left: 25px;
  padding-bottom: 40px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .titulo-historia {
    font-size: 2rem;
    padding-bottom: 0;
  }
}

.historia-familia {
  width: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 17px;
}
@media (max-width: 576px) {
  .historia-familia {
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 42px;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .historia-familia {
    display: block;
    border: 1px solid black;
  }
}

.imagen-familia {
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .imagen-familia {
    display: none;
  }
}

.cuerpo-historia {
  display: flex;
  justify-content: space-evenly;
}

.familia-mobile {
  display: none;
}
@media (max-width: 768px) {
  .familia-mobile {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .cuerpo-historia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    margin-bottom: -130px;
  }
  .titulo-historia {
    grid-area: 1/1/2/2;
  }
  .familia-mobile {
    grid-area: 2/1/3/2;
  }
  .historia-familia {
    grid-area: 3/1/4/2;
  }
  .historia-familia {
    padding-top: 30px;
  }
}
.texto-der, .texto-izq {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

.main-bodega {
  background-color: #f6f6f6;
}

.encabezado-vinoteca {
  color: rgb(66, 61, 61);
  text-decoration-line: underline;
  font-size: 43px;
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 110px;
}
@media (max-width: 576px) {
  .encabezado-vinoteca {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .encabezado-vinoteca {
    font-size: 1.5rem;
  }
}

.grid-vinotecas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 6rem);
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  margin-bottom: 10px;
}

.vinoteca-1 {
  grid-area: 1/1/3/2;
  border: 1px solid black;
}

.vinoteca-2 {
  grid-area: 1/2/3/3;
  border: 1px solid black;
}

.vinoteca-3 {
  grid-area: 1/3/3/4;
  border: 1px solid black;
}

.vinoteca-4 {
  grid-area: 3/1/5/2;
  border: 1px solid black;
}

.vinoteca-5 {
  grid-area: 3/2/5/3;
  border: 1px solid black;
}

.vinoteca-6 {
  grid-area: 3/3/5/4;
  border: 1px solid black;
}

.vinoteca-7 {
  grid-area: 5/1/7/2;
  border: 1px solid black;
}

.vinoteca-8 {
  grid-area: 5/2/7/3;
  border: 1px solid black;
}

.vinoteca-9 {
  grid-area: 5/3/7/4;
  border: 1px solid black;
}

.vinotecas {
  background-image: url(https://i.ibb.co/z6dvF53/copas.png);
  align-items: center;
  background-color: #808476;
  transition: all 1.5s;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .vinotecas {
    font-size: 1.2rem;
  }
}

.vinotecas:hover {
  transform: scale(1.09);
  background-color: rgba(0, 0, 0, 0.747);
  font-size: 1.5;
  color: white;
}
@media (max-width: 768px) {
  .vinotecas:hover {
    transform: none;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .grid-vinotecas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
  .vinoteca-1 {
    grid-area: 1/1/2/2;
  }
  .vinoteca-2 {
    grid-area: 1/2/2/3;
  }
  .vinoteca-3 {
    grid-area: 2/1/3/2;
  }
  .vinoteca-4 {
    grid-area: 2/2/3/3;
  }
  .vinoteca-5 {
    grid-area: 3/1/4/2;
  }
  .vinoteca-6 {
    grid-area: 3/2/4/3;
  }
  .vinoteca-7 {
    grid-area: 4/1/5/2;
  }
  .vinoteca-8 {
    grid-area: 4/2/5/3;
  }
  .vinoteca-9 {
    grid-area: 5/1/6/2;
  }
}
.texto-der, .texto-izq {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
}

form {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 40%;
  height: 80%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid black;
}
@media (max-width: 768px) {
  form {
    width: 60%;
  }
}
@media (max-width: 576px) {
  form {
    padding: 0;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .contactanos {
    padding-top: 45px;
  }
}

input, textarea {
  resize: none;
  border: none;
  outline: none;
  padding: 15px 0;
  width: 80%;
  margin: 20px;
  border-bottom: 1px solid black;
}
@media (max-width: 768px) {
  input, textarea {
    font-size: 0.9rem;
  }
}

button {
  border: none;
  outline: none;
  resize: none;
  background-color: #808476;
  color: white;
  padding: 15px;
  width: 200px;
  border-radius: 2px;
  margin: 20px 0;
}
@media (max-width: 768px) {
  button {
    width: 100px;
    margin-bottom: 59px;
  }
}

.mapa {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.texto-der, .texto-izq {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

footer {
  background-color: #f6f6f6;
}
footer a img {
  height: 70px;
  right: 70px;
}
footer p {
  font-size: 0.8rem;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-redes {
  transition: all 1.4s;
}
.logo-redes:hover {
  transform: scale(1.5);
}

.texto-der, .texto-izq {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

.body-agredecimiento {
  background-color: #f6f6f6;
}

.agradecimiento h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
}
@media (max-width: 576px) {
  .agradecimiento h1 {
    font-size: 1rem;
  }
}

.agradecimiento h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  text-align: center;
}
@media (max-width: 576px) {
  .agradecimiento h2 {
    font-size: 1rem;
  }
}

.main-agradecimientos {
  padding: 150px 0;
}

.texto-der, .texto-izq {
  color: rgb(66, 61, 61);
  padding-left: 30px;
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

.disclaimer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
