@import "../base/variables";
@import "../base/extends";


.main-bodega {
    background-color: $color-principal;
}
.encabezado-vinoteca {
    color: rgb(66, 61, 61);
    text-decoration-line: underline;
    font-size: $medida-letra-ppal+23px;
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    margin-top: 110px;
    @include chico {
        font-size: 1.2rem;
    }
    @include medio {
        font-size: 1.5rem;
    }
}

.grid-vinotecas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 6rem);
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    margin-bottom: 10px;
    
    }
    
    .vinoteca-1 { grid-area: 1 / 1 / 3 / 2; border: 1px solid black; }
    .vinoteca-2 { grid-area: 1 / 2 / 3 / 3; border: 1px solid black;}
    .vinoteca-3 { grid-area: 1 / 3 / 3 / 4; border: 1px solid black;}
    .vinoteca-4 { grid-area: 3 / 1 / 5 / 2; border: 1px solid black;}
    .vinoteca-5 { grid-area: 3 / 2 / 5 / 3; border: 1px solid black;}
    .vinoteca-6 { grid-area: 3 / 3 / 5 / 4; border: 1px solid black;}
    .vinoteca-7 { grid-area: 5 / 1 / 7 / 2; border: 1px solid black;}
    .vinoteca-8 { grid-area: 5 / 2 / 7 / 3; border: 1px solid black;}
    .vinoteca-9 { grid-area: 5 / 3 / 7 / 4; border: 1px solid black;}

.vinotecas {
    background-image: url(https://i.ibb.co/z6dvF53/copas.png);    
    align-items: center;
    background-color: #808476;  
    transition: all 1.5s;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include medio {
        font-size: 1.2rem;        
    }
}
.vinotecas:hover {
    transform: scale(1.09);
    background-color: rgba(0, 0, 0, 0.747);   
    font-size: 1.5;
    color: white;
    @include medio {
        transform: none;
        font-size: 1.2rem;
    }
    }

@media screen and (max-width: 768px) {
.grid-vinotecas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        }
        
        .vinoteca-1 { grid-area: 1 / 1 / 2 / 2; }
        .vinoteca-2 { grid-area: 1 / 2 / 2 / 3; }
        .vinoteca-3 { grid-area: 2 / 1 / 3 / 2; }
        .vinoteca-4 { grid-area: 2 / 2 / 3 / 3; }
        .vinoteca-5 { grid-area: 3 / 1 / 4 / 2; }
        .vinoteca-6 { grid-area: 3 / 2 / 4 / 3; }
        .vinoteca-7 { grid-area: 4 / 1 / 5 / 2; }
        .vinoteca-8 { grid-area: 4 / 2 / 5 / 3; }
        .vinoteca-9 { grid-area: 5 / 1 / 6 / 2; }


}
