@import "../base/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }

   
body {
    background-color: $color-principal;
    color: $color-letra;
    font-family: $tipografia-general;
}
.main-main {
    margin-top: 85px;
}
.main-index {
    margin-top: 0;
}