@import "../base/variables";
@import "../base/extends";


header {
    width: 100%;
    top: 0;   
    z-index: 1;    
}
.nav-style {
    background-color: $color-nav;    
}
.link {
    font-size: $medida-letra-ppal;
    color: $color-principal;
    margin: 0 50px 0 50px;
}
.foto-logo {
    width: auto;
    height: auto;
    margin-left: 110px;
}
