@import "../base/variables";
@import "../base/extends";

.video-vinedo {
    height: 100%;
    width: 100%;
    @include chico {
        display: none;
    }
 
}
.imagen-mobile {
    display: none;
    @include chico {
        display: block;
        width: 100%;
    }
    
}
.foto-frase {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(https://i.ibb.co/mGYjxbc/montanas2.webp);
    background-repeat: initial;
}
.frase-bodega {
    color: $color-letra;
    font-size: 2rem;
    text-align: center;
    width: 50%;
    margin-bottom: 200px;
    @include medio {
        font-size: 1.1rem;
        padding-bottom: 90px;
    }
    
}
