@import "../base/variables";
@import "../base/extends";



.body-agredecimiento {
    background-color: $color-principal;
   
}

.agradecimiento h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    @include chico {
        font-size: 1rem;
    }
}
.agradecimiento h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    text-align: center;
    @include chico {
        font-size: 1rem;

    }
}
.main-agradecimientos {
    padding: 150px 0;
}
